.html, body {
  background-color: #ECBE70;
  left: 0 !important;
  width: 100% !important;
}

.App {
  text-align: center;
  min-height: 70vh;
  left: 0 !important;
  width: 100% !important;
  margin: 0px;
  padding: 0px;
}

